<ul class="nav nav-tabs">
  <li class="active">
    <a href="dashboard/mailbox">Home</a>
  </li>
  <li><a href="#">...</a></li>
  <li><a href="#">...</a></li>
</ul>




  








