<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%=@user.username %>, you have a new message waiting for you on Thiggle.  <br/>
    </p>
    <p>
      View it here <%= @url %>
    </p>
  </body>
</html>
