</br></br>

<div class="container">
	<table class="table">
  	<h1><%  "'s Dashboard" %></h1>
	<% @conversations.each do |c| %>
  <tr>
    <td><%= c.subject %></td></br>
    <td><%= c.last_sender.username %></td>
<% end %>
</table>

<br />
</div>
