
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<div class="container">
  <h1>About</h1>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et consectetur arcu. 
  Donec ligula erat, fringilla et molestie vitae, volutpat eu tortor. Proin 
  facilisis turpis arcu, sed lacinia sem. Ut viverra imperdiet enim, vel porttitor 
  turpis consequat a. Integer fringilla sagittis dui, et tincidunt erat feugiat a. 
  Pellentesque venenatis mi tempor odio viverra egestas. Praesent sit amet ipsum 
  mauris. Curabitur iaculis felis vel leo dictum ultricies. Vestibulum pharetra 
  vehicula tincidunt. Morbi justo quam, venenatis in ultricies et, dictum non dolor. 
  Aenean ut enim felis, vel imperdiet arcu.
  <br> 
  Integer quis mi erat, vel dapibus odio. Nam et metus dui, eu dictum neque. Sed  
  mattis lacus ac lectus gravida eget adipiscing massa mattis. Sed consequat, dui 
  vel sagittis dictum, risus elit tempus libero, eget mollis ipsum magna ut purus. 
  Aliquam commodo elit at ante fringilla vel dignissim mauris venenatis. Donec 
  turpis turpis, malesuada eu tempor eget, blandit non orci. Nunc eros mauris, 
  auctor vel accumsan id, tincidunt id nibh. Maecenas vel tempor odio.
  </div>
  	


  
  
